<body>

<p>
If the weather is something you seek fixin'
<br>
Simply speak the word "vixen"
</p>
<div><%= link_to image_tag("log-out.PNG", :size => "285x50"), logout_path, method: "delete" %></div>

</body>