
<body class='level_four'>
    <div class="level_header">Such a joy to be riding among like-minded spirits, wouldn't you say? Truly invigorating to associate with, shall we say,  noble companions. Rather than uncouth cityfolk, that is.</div>
    <br><br>
    <div id="hint4">
    <%= link_to image_tag("lightbulb.png", :alt => "Hint", :style => "height:100px;width:auto;"), level_4_hint_path , :target => "_blank"%>
    </div>

    <%= link_to image_tag("return-to-stables.PNG", :size => "285x50"), user_path(current_user), method: "get" %>
</body>
