<h1> Good Show Old Chap, I see You Decided to Join Us, Well Climb On, Pip Pip </h1>

<img src="horze-duchess-dressage-saddle-pad.jpg" width=500 height=600 alt="horse without rider" usemap="#saddle up">

<map name="saddle up">
    <area shape="poly" coords="312,121,387,93,387,402,311,397" href="link" alt="nextlvl">
</map>