<h1> In order to Continue I have to know if you are with us or against us tell me who are the real scoundrels?
</h1>

<div id="hint4">
<%= link_to image_tag("hint.png", :alt => "Hint"), level_4_hint_path , :target => "_blank", style: '50%xauto' %>
</div>
