<h1> Good Show Old Chap, I see You Decided to Join Us, Well Climb On, Pip Pip </h1>


<span>
<%= image_tag "saddle.jpg", :usemap => "#image-map" %>
</span>
<map name="image-map">
    <area target="_self" alt="horse without rider" title="horse without rider" href= "2" coords="260,247,461,410" shape="rect">
</map>

