  <body class="level_1_background">
  <div class="level_header"> Good Show Old Chap, I see You Decided to Join Us. Well Climb On, Pip Pip! </div>

  <audio autoplay=""> 
    <source src="/assets/trumpt.wav">
  </audio>

  <span>
  <%= image_tag "saddle.jpg", :usemap => "#image-map" %>
  </span>
  <map name="image-map">
      <area target="_self" alt="horse without rider" title="horse without rider" href= "welldoneyoucrackedthecase" coords="260,247,461,410" shape="rect">
  </map>

  <div class="hint1">
  <%= link_to image_tag("lightbulb.png", :alt => "Hint", :style => "height:100px;width:auto;"), level_1_hint_path , :target => "_blank" %>
  </div>
 <div class="lvl1_return">
  <%= link_to image_tag("trophy-room-button.PNG", :size => "285x50"), user_path(current_user), method: "get" %>
</div>
</body>