
<body class='level_four'>
    <div class="level_header">In order to Continue I have to know if you are with us or against us, tell me who are the real scoundrels?</div>
    <br><br>
    <div id="hint4">
    <%= link_to image_tag("lightbulb.png", :alt => "Hint", :style => "height:100px;width:auto;"), level_4_hint_path , :target => "_blank"%>
    </div>

    <%= link_to image_tag("return-to-stables.PNG", :size => "285x50"), user_path(current_user), method: "get" %>
</body>
