<body class='win'>
  <meta http-equiv="refresh" content="38;url= /" />

  <h2 id="win_text">

  </h2>
  <%= stylesheet_link_tag "win", :media => "all" %>

  <div class='wrap'>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
  </div>

  <audio autoplay=""> 
    <source src="/assets/queen.mp3">
  </audio>

<div class='wrapper'>
  <div class='credit'>I say!</div>
  <div class='credit'>Certainly unconventional to kiss the fox and release it, old man.</div>
  <div class='credit'>But no one can say we didn't cacth the devil, can they?</div>
  <div class='credit'>Good show!</div>
  <div class='credit'>......</div>
  <div class='credit'>Game made by:</div>
  <div class='credit'>Sam Hall</div>
  <div class='credit'>and </div>
  <div class='credit'>John Wisneski</div>
  <div class='credit'>Thanks for playing! </div>
</div>







</body>