<body>
  <meta http-equiv="refresh" content="38;url= /" />

  <h2 id="win_text">
  Congratulations you have caught the fox and won the day

  </h2>
  <%= stylesheet_link_tag "win", :media => "all" %>

  <div class='wrap'>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
    <div class='firework'>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
      <div class='c'></div>
    </div>
  </div>

  <audio autoplay=""> 
    <source src="/assets/queen.mp3">
  </audio>
</body>