<h1 id="splash_header"> Tally-Ho! Up for a bit of a Hunt? </h1>

<audio src="trumpet.wav" controls autoplay> </audio>


<audio autoplay="autoplay" controls="controls" >
    <source src="app/assets/audios/riff.mp3" />    
</audio>


<body class='splash'>>
<% if check_if_someone_is_logged_in? %>
      <p class='login1'> <%= current_user.username %> is ready for The Hunt </p>
      <%= button_to "Log out", logout_path, method: "delete" %>
    <% else %>
    <div><p><span class='login'>Don't recognize you old boy. Please check in! </span></p></div>
    <%= button_to "Check in", new_user_path, method: "get" %> 
      <div><p><span class='login'>That's preposterous, I've been at The Hunt since you were in short pants!  </span></p></div>
      <%= button_to "Remind them who you are", logging_in_path, method: "post" %>
    <% end %>
</body>