.fox{
 background-image: url("https://media.giphy.com/media/oUiB3csERkxFqpqBaH/giphy.gif");
 background-size: cover;
 background-color: #cccccc;
 position: relative;
 background-repeat: no-repeat;
}

#hidden_dialogue{
color: blanchedalmond;
font-family: 'Georgia';
font-size: 40px;
top: 20px;
left: 20px;
text-shadow: 3px 3px black;
}
