.fox{
 background-image: url("https://media.giphy.com/media/oUiB3csERkxFqpqBaH/giphy.gif");
 background-size: cover;
 background-color: #cccccc;
 position: relative;
 background-repeat: no-repeat;
}

#hidden_dialogue{
color: blanchedalmond;

}
