#hint1{
    max-width: 100%;
    height: auto;
    top: 5px;
    right: 200px;
}

.level_header {
    position:absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    font-family: "Georgia";
    color: rgb(255, 243, 228);
    border: rgba(73, 76, 236, 0.629) 2px solid;
    background: rgba(134, 16, 0, 0.752);
    border-radius: 20%;
    text-shadow: 2px 2px black;
    font-size: 30px;  
}


