.level_1_background {
    background-image: url("wood.jpeg");
    background-size: cover;
}

#lvl1_return{
    position:absolute;
    bottom:10px;
    right: 10px;
    
 }

 #hint1 {
   position: absolute;
   bottom: 60px;
   right: 100px;
 }