.level_five{
	background-image: url("https://media.giphy.com/media/3o7aD6L3BHd76R0RCE/giphy.gif");
	background-size: cover;
	background-color: #cccccc;
	position: relative;
	background-repeat: no-repeat;
}

#hint5{
	position: absolute;
	bottom: 60px;
	right: 100px;
  }
  
  #return_lvl5{
	position:absolute;
    bottom:10px;
    right: 10px;
  }