.level_five{
	background-image: url("https://media.giphy.com/media/3o7aD6L3BHd76R0RCE/giphy.gif");
	background-size: cover;
	background-color: #cccccc;
	position: relative;
	background-repeat: no-repeat;
}