.level_four{
	background-image: url("bramingharm.jpg");
	background-size: cover;
	background-color: #cccccc;
	position: relative;
	background-repeat: no-repeat;
}

#hint4{
	position: absolute;
	bottom: 60px;
	right: 100px;
  }
  
  #return_lvl4{
	position:absolute;
    bottom:10px;
    right: 10px;
  }
