

.gate {
    position: relative;
    display: inline-flex;
    z-index: 1;
    background-color: #ffffff;
  }

.hidden_password {
  text-align: center; 
  width:100%; 
  height:0;
  font-size: 15px; 
  line-height: 0;
  position: absolute; top: 63%; right: 7%;
  z-index: 0;
  color: rgba(255, 0, 0, 0);
  }


  .level_three {
    background: linear-gradient(187deg, #58151a, #bc2909, #ba6d09, #71a8ee, #3072e8, #1552c6, #0542a8);
    background-size: 1400% 1400%;

    -webkit-animation: Sunrise 30s ease infinite;
    -moz-animation: Sunrise 30s ease infinite;
    animation: Sunrise 30s ease infinite;
}

@-webkit-keyframes Sunrise {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes Sunrise {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes Sunrise {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}

.error_message3{
  position: relative;
  font-family: "Georgia";
  color: rgb(211, 38, 8);
  text-shadow: 1px 1px black;
  font-size: 20px;
}
#hint3{
  position: absolute;
  bottom: 60px;
  right: 100px;
}


#return_lvl3{
  position:absolute;
    bottom:10px;
    right: 10px;
  
}
