.rules_background {
    background-image: url("countryside.jpg");
    background-color: #cccccc;
    text-align: left;
    background-size: cover;
}

.rules_banner {
    position: absolute;
    text-align: center;
    top: 5px;
    left: 500px; 
}

.rules_list {
	position: absolute;
    text-align: left;
    top: 175px;
    left: 110px;
	font-size: 20px;
	font-family: "Georgia";
	color: rgb(246, 228, 205);
	text-shadow: 2px 2px black;
    z-index: 0;
    border: rgba(251, 201, 62, 0.697) 2px solid;
	background: rgba(134, 16, 0, 0.752);
	border-radius: 3%;
}
