

.splash {
  background-image: url("image-asset.jpeg");
  background-color: #cccccc;
  text-align: left;
}


.tally {
  position:absolute;
  text-align: center;
  top:100px;
  right: 500px;
  z-index: 0;
 
}

.login { 
  text-align: left;
  top: 50px;
  left: 10px;
  font-family: "Georgia";
  color: rgb(255, 243, 228);
  border: rgba(73, 76, 236, 0.629) 2px solid;
  background: rgba(134, 16, 0, 0.752);
  border-radius: 20%;
  margin: auto;  
}

.rules {
  bottom: 10px;
  right: 275px;
}