.tackroom{
	background-image: url("tackroom-background.jpg");
	background-size: cover;
	background-color: #cccccc;
	position: relative;
}

.header { 
	position: absolute;
	text-align: center;
	font-size: 30px;
	font-family: "Georgia";
	color: rgb(255, 243, 228);
	border: rgba(73, 76, 236, 0.629) 2px solid;
	background: rgba(134, 16, 0, 0.752);
	border-radius: 20%;
	margin: auto; 
	text-shadow: 3px 3px black;
	z-index: 0;
 }

 .header2 { 
	position: absolute;
	top: 200px;
	left: 2%;
	font-size: 20px;
	font-family: "Georgia";
	color: rgb(255, 243, 228);
	border: rgba(73, 76, 236, 0.629) 2px solid;
	background: rgba(134, 16, 0, 0.752);
	border-radius: 20%;
	margin: auto; 
	text-shadow: 3px 3px black;
	z-index: 0;
	margin: 25px 50px 75px 345px;
 }

.form {
	position: absolute;
	text-align: center;
	top: 200px;
	right: 400px;
	font-size: 30px;
	font-family: "Georgia";
	color: rgb(254, 254, 254);
	text-shadow: 3px 3px black;
}

.error {
	position: absolute;
	text-align: center;
	top: 200px;
	font-size: 20px;
	font-family: "Georgia";
	color: rgb(254, 254, 254);
	text-shadow: 2px 2px black;
}
	
.field {
	 position: absolute;
	 left: 10px;
	 bottom: 25px;
}

.show_room{
	background-image: url("trophy-room.JPG");
	background-size: cover;
	background-color: #cccccc;
	position: relative;
	background-repeat: no-repeat;
}

.trophy {
	position:relative;
	left: 450px;
}

.show_buttons{
	position: relative;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	height: 210px;
	top: 175px;
	margin: 25px 50px 75px 590px;
}

.header3 { 
	position: relative;
	top: 175px;
	left: 2%;
	font-size: 20px;
	font-family: "Georgia";
	color: rgb(255, 243, 228);
	border: rgba(73, 76, 236, 0.629) 2px solid;
	background: rgba(134, 16, 0, 0.752);
	border-radius: 20%;
	margin: auto; 
	text-shadow: 3px 3px black;
	z-index: 0;
	margin: 25px 50px 75px 395px;
 }