<body class="rules_background">

<div class="rules_banner">
    <%= image_tag src="rules-of-play.PNG", :style => "height:150px;width:auto;", alt: "Rules of Play!"%>
</div>
    
    
<div class ="rules_list">1. How to move through the game
    <br>2. Hints + Point Deduction
    <br>3. Progressions + Score Keeping + Horse Stamina
</div>

