<body class="rules_background">

<div class="rules_banner">
    <%= image_tag src="rules-of-play.PNG", :style => "height:150px;width:auto;", alt: "Rules of Play!"%>
</div>
    
    
<div class ="rules_list">I. HOW TO MOVE THROUGH THE HUNT:
<br>- Each level's puzzle might have you look into all parts of the page and its architecture.
<br>- Don't be afraid to breakout the Developer Tools, inspect page elements, and poke around in general!
<br>- Moving on to the next level can accomplished in a few ways: clicking a link, submitting an answer, or in other novel ways. 
<br>- The game is designed so that you cannot progress prematurely. And if you wish to return to a previous level, you must start a new game.

<br><br>II. SCORE KEEPING & HORSE STAMINA:
<br>- Your horse begins with 100 stamina. For each incorrect answer, or hint used, your horse's stamina will drop.
<br>- You're able to save your progress and resume your game from your user page but you cannot resume previous games.
<br>- Your highest score from all attempts will persist in the Trophy Room.

<br><br>III. HINTS:
<br>- If you are stuck on a level click the lightbulb for a hint. 
<br>- Remember! Using a hint will deduct points from your horse's stamina.

</div>

